body{ 
    color: white;
    background: black;
    margin: 0px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px rgb(0, 31, 2);
    padding: 20px;
    font-size: 50px;
    color: rgb(232, 234, 237);
}


.chamada {

    background: rgb(0, 53, 13);
    padding-bottom: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
}

.texto-principal {

    margin-right: 5%;
}
h1{
  font-size: 35px;  
}
p{

    font-size: 10px;
}

img {
 height: 200px;

}

.categoria-filmes {
   display: flex; 
   overflow-x: auto;
   gap: 20px;
}

.categoria{

    padding-left:20px ;
    padding-right: 10px; ;
    margin-top: 50px;
}

.categoria-filmes img {

    opacity: 0.5;
}

.categoria-filmes img:hover {

opacity: 1.0;
border: 1px solid green;
}

.categoria h2 {

    color: rgb(131, 0, 0);
}